<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Assignment73admin</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
 
	<!-- Define a security constraint on this application -->

	<security-constraint>

		<web-resource-collection>

			<web-resource-name>Entire Application1</web-resource-name>

			<url-pattern>/admin</url-pattern>


		</web-resource-collection>

		<auth-constraint>

			<!-- This role is not in the default user directory -->

			<role-name>manager-gui</role-name>

		</auth-constraint>
		<user-data-constraint>
			<!-- The following forces using https protocol -->
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>

	</security-constraint>
	<login-config>

		<auth-method>BASIC</auth-method>

		<realm-name>Tomcat Manager Application</realm-name>

	</login-config>

	<context-param>
		<param-name>time</param-name>
		<param-value>60</param-value>
	</context-param>


	<servlet>
		<servlet-name>admin</servlet-name>
		<servlet-class>formdata.Admin</servlet-class>

	</servlet>
	<servlet-mapping>
		<servlet-name>admin</servlet-name>
		<url-pattern>/admin</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>logout</servlet-name>
		<servlet-class>formdata.LogoutServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>logout</servlet-name>
		<url-pattern>/logout.html</url-pattern>
	</servlet-mapping>
</web-app>